// out: false

@black:#333333;
@lightBlack:#666666;
@gray:#999999;
@lightGray:#CCCCCC;
@bg:#F2F2F2;

@darkBlue:#0083FF;
@blue:#4DB2FF;
@lightBlue:#AED6FD;

@green:#1AC6A4;
@lightGreen:#95D364;

@red:#FC5B31;
@lightRed:#FF907F;

@purple:#9D86EB;
@yellow:#F9B337;







